
body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
h1 {
    color: #a259ff;
    margin-bottom: 30px;
    text-align: center;
}

form {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(162, 89, 255, 0.4);
    width: 300px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #d759e2;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #2a2a2a;
    color: #fff;
    border: 1px solid #a259ff;
    border-radius: 8px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    margin-top: 30px;
    padding: 12px;
    font-size: 16px;
    border: none;
    background-color: #6a0dad;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    box-shadow: 0 4px 8px rgba(106, 13, 173, 0.4);
}

button[type="submit"]:hover {
    background-color: #8b2ddb;
    transform: scale(1.05);
}

button[type="submit"]:active {
    transform: scale(0.98);
}

a {
    text-decoration: none;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

a::before {
    content: "← ";
    color: #8b2ddb;
}

a:visited {
    color: #a259ff;
}