body {
    background-color: #121212; /* negro elegante */
    color: rgb(255, 0, 0); /* texto clarito */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #a259ff;
    margin-bottom: 30px;
    text-align: center;
}

form {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(162, 89, 255, 0.4);
    width: 300px;
    
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #d759e2;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    background-color: #2a2a2a;
    color: #fff;
    border: 1px solid #a259ff;
    border-radius: 8px;
}

button {
    display: block;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #6a0dad;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    box-shadow: 0 4px 8px rgba(106, 13, 173, 0.4);
}

button:hover {
    background-color: #8b2ddb;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}   
.usuarios-container {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.usuario-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 12px;
    width: 370px;
    text-align: center;
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.3);
}

.usuario-card p {
    margin: 0 0 10px 0;
    font-weight: bold;
    color: white;
}

.usuario-card form {
    margin: 0;
}
a button {
    width: 200px;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #6a0dad;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    box-shadow: 0 4px 8px rgba(106, 13, 173, 0.4);
}

a button:hover {
    background-color: #8b2ddb;
    transform: scale(1.05);
}

a button:active {
    transform: scale(0.98);
}   
.container-mensaje{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    width: auto;
    z-index: 9999;
}
.container-mensaje .mensaje-principal{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;   
}
