<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>REGISTRATE</h1>
    <form method="POST" action="/registrar">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required><br><br>

        <label for="correo">Correo:</label>
        <input type="email" name="correo" required><br><br>

        <label for="password">Contraseña:</label>
        <input type="password" name="password" required><br><br>

        <button type="submit">Registrarse</button>
    </form>

    <a href="{{ url_for('login') }}"><button>Iniciar sesion</button></a>    
    <a href="{{ url_for('lista_usuarios') }}"><button>Ver Usuarios</button></a>

    
       <!-- AQUI EL BLOQUE DE USUARIOS --> 
    
    <!-- <ul class="usuarios-container">
        {% for u in usuarios %}
            <li class="usuario-card">
                            <form method="POST" action="{{ url_for('eliminar_usuario', id=u.id) }}">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul> -->

</body>
</html>